.face-wrapper,.face-list{
  list-style:none;
  padding:0;
  margin:0;	
}
.face-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align:center;
  width:256px;
  border-radius:50%;
  margin-top: 100px;
}
.face-list,.face-img{
  border-radius:50%;		
}
.face-list{
  display:inline-block;
  margin:-20px auto;
  overflow:hidden;
  width:150px;
  height:150px;
  line-height:220px;
  text-align:center;
  padding:10px;
}
.face-img{
  transition:all .3s, transform .3s .2s;
  -webkit-transition:all .3s, -webkit-transform .3s .2s;			
  opacity:.2;
  width:75px;
  height:75px;
}
.face-img:hover{
  opacity:1;
  width:150px;
  height:150px;
  cursor:pointer;			
}
.face-list:nth-child(odd):hover > .face-img{
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.face-list:nth-child(even):hover > .face-img{
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}
.face-list:nth-child(odd):hover > .face-img:hover{
  transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
}
.face-list:nth-child(even):hover > .face-img:hover{
  transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
}